*{
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Nav{
    background-color: black;
    height: 120px;
}
.nav1{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 50px;
}
li > a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
}
li > a:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.1s;
}
.banner{
    width: 100%;
}
.heading{
    color: white;
    text-align: center;
    font-size: 50px;
}
.paragraph{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
}
.container{
    display: flex;
}
.bauaa{
    background-color: darkgray;
    width: 400px;
    height: 360px;
    text-align: center;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 25px;
}
.bike{
    padding-top: 5px;
    height: 200px;
    width: 350px;
    border: 2px solid darkgray;
    border-radius: 5px;
}
.heading4{
    color: black;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 700;
}
.desc{
    color: black;
    font-size: 20px;
    margin-top: 13px;
}
.price{
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}
.amount{
    color: black;
    padding-left: 12px;
}
.btn{
    background-color: darkslategrey;
    color: white;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}
.btn:hover{
    color: black;
    background-color: darkgrey;
    border: 2px solid darkgrey;
    border-radius: 5px;
}